@{
    ViewData["Title"] = "Ana Sayfa";
}

<!--BOLUM 1-->
<div class="row mb-4">
    <div class="col-12 col-lg-7 mb-3 d-flex">
        <picture class="d-flex">
            <source media="(min-width: 768px)" srcset="~/photo/hapynewyear.png 758w" />
            <source media="(min-width: 425px)" srcset="~/photo/hapynewyearMedium.png 700w" />
            <img src="~/Photo/hapyNewYearSmall.png" class="img-fluid rounded images" alt="...">
        </picture>
    </div>
    <div class="col-12 col-lg-5 mb-3">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-12 d-flex">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                            lsşfkjglksfjgşlskjdgşlksjdfşlksjdfşlkjsşlfkjsşlkjflksdjfşlksjfşlksjfikljsf
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-12 d-flex justify-content-center pt-3 pt-sm-0 pt-lg-3">
                <picture class="d-flex">
                    <source media="(min-width: 768px)" srcset="~/photo/OrsaSoft.png 535w" />
                    <source media="(min-width: 425px)" srcset="~/photo/OrsaSoftMedium.png 832w" />
                    <img src="~/Photo/OrsaSoftSmall.png" class="img-fluid rounded images" alt="...">
                </picture>
            </div>
        </div>
    </div>
</div>
<!--BOLUM 1 END-->
<!--BOLUM 2-->
<div class="row mb-sm-3">
    <div class="col-12 col-sm-4 mb-3 d-flex">
        <div class="card container-fluid">
            <div class="card-body">
                <p class="card-text">
                    Bu bir deneme yazısıdır. lfkjsşldkjflşskjdflkjsşdlkfjşslkjdfşlksjdfşlkjsşldkjfşslkjdflksjf
                </p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-4 d-flex justify-content-center mb-3">
        <picture class="d-flex">
            <source media="(min-width: 768px)" srcset="~/photo/computer.jpg 852w" />
            <source media="(min-width: 425px)" srcset="~/photo/computerMedium.jpg 543w" />
            <img src="~/Photo/computerSmall.jpg" class="img-fluid rounded images" alt="...">
        </picture>
    </div>
    <div class="col-12 col-sm-4 d-flex mb-3">
        <div class="card container-fluid">
            <div class="card-body">
                <p class="card-text">
                    Bu bir deneme yazısıdır. lfkjsşldkjflşskjdflkjsşdlkfjşslkjdfşlksjdfşlkjsşldkjfşslkjdflksjf
                </p>
            </div>
        </div>
    </div>
</div>
<!--BOLUM 2 END-->
<!--BOLUM 3-->
<div class="row">
    <div class="col-12 col-sm-6 d-flex justify-content-center mb-3">
        <picture class="d-flex">
            <source media="(min-width: 768px)" srcset="~/photo/mac.jpg 663w" />
            <source media="(min-width: 425px)" srcset="~/photo/macMedium.jpg 457w" />
            <img src="~/Photo/macSmall.jpg" class="img-fluid rounded images" alt="...">
        </picture>
    </div>
    <div class="col-12 col-sm-6 d-flex mb-3">
        <div class="card container-fluid">
            <div class="card-body">
                <p class="card-text">
                    fdşlkghşlakhgşkjsadhfkljhasdgkjhaşskjdghşkajshgşkjhsgşkjhaşkghaşkjghşkajgşkjahgfşkj
                </p>
            </div>
        </div>
    </div>
</div>
<!--BOLUM 3 END-->
